<div id="content-page-main" class="flex-row">
  <div id="lateral-menu" class="flex-column">
    <div class="item-menu flex-row" (click)="goToEncuesta()"><p>Alta encuesta</p></div>
    <div class="item-menu flex-row" (click)="goToPreguntas()"><p>Alta preguntas</p></div>
    <div class="item-menu flex-row" (click)="goToRespuestas()"><p>Alta respuestas</p></div>
    <div class="item-menu flex-row" (click)="sendEncuesta()"><p>Enviar encuesta</p></div>
    <div class="item-menu flex-row" (click)="goToUser()"><p>Contestar encuesta</p></div>
  </div>
  <div id="content-page" class="flex-row">
    <h1>Bienvenido</h1>
  </div>
</div>
